/* FIRA SANS FONT */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* Start */
.start{
    display: flex;
    justify-content: space-between;
    border-width: 5px;
}
.sign-in{
    border-radius: 5px;
    border-color: #09A15C;
    width: 100px;
    background-color: none;
    font-weight: 600;
    color: #006A50;
}
  /* Secondary Background */
.second-bg{
    background-color: #C6E4D6;
}
.banner{
    display: flex;
}
.banner-sec{
    padding: 0px;
    border: none;
    justify-content: space-between;
    margin: 20px 160px;
}
.banner-pic{
    width: 474px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
}
.btn-primary{
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: bolder;
    padding: 18px 35px;
    border-radius: 5px;
    border:none;
}
.btn-subscribe{
    background-color: #006A50;
    color: #FFFFFF;
    font-weight: 270px;

    border-radius: 5px;
    border:none;
    margin: 0;
    width: 150px;
    display: block;
    height: 85px;
}
.about{
    border-radius: 24px;
}

ul li{
    list-style: none;
    margin-right: 50px;
}
li section h1{
    font-size: 56px;
    margin-left: 60px;
    margin-right: 64px;
}
.alignment{
    margin-left: 60px;
    margin-bottom: 16px;
}
h4{
    color: #0E0E0E;
    font-size: 24px;
    opacity: 50%;
}
/* Main Section */
main{
    max-width: 1340px;
    margin: 80px auto;
}
.section-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.ach-title{
    font-size: 20px;
    font-weight: bold;
}
.ach{   
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}
.vision-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.vision{   
    border-radius: 16;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}
.st-1{
    background-color: rgba(84, 144, 245, 20%);
}
.st-2{
    background-color: rgba(198, 228, 214, 100%);
}
.st-3{
    background-color: #F7EBCF;
}
.vis-but-1{
    border-radius: 8px;
    background-color: #5490F5;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.vis-but-2{
    border-radius: 8px;
    background-color: #09A15C;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.vis-but-3{
    border-radius: 8px;
    background-color: #FFC239;
    color: #FFFFFF;
    padding: 11px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
/* Secondary Font */
.secondary-font{
    color: rgba(14, 14, 14, 70%);
}
.quote-bg{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.box{
    border-radius: 16px;
    margin: 32px;
    padding: 10px 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border: none;
}
.quote-p{
    padding-left: 0px;
    padding-top: 35px;
}
.recent-news-div{
    display: flex;   
    border-radius: 16;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    margin: 24px;
}

.satelite{
    border-radius: 30px;
}
.donate-taka-container{
    text-align: center;
    justify-content: space-between;
}
.donate-taka{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn{
    border: none;
    justify-content: center;
    padding-left: 50px;
}
.taka{    
    border-radius: 16;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}
.taka-font{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 80%);
}
.donate-font{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 100%);
}
.other-taka{
    width: 50%;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
section div textarea{
    height: 64px;
    background-color: #FFFFFF;
    display: block;
    width: 1032px;
    margin-bottom: 24px;
    margin-left: 124px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: none;
}
section div input[type="email"]{
    height: 64px;
    background-color: #FFFFFF;
    display: block;
    width: 600px;
    margin-bottom: 24px;
    margin-left: 124px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: none;
}
.layout-title{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
}
.layout-des{
    justify-content: center;
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center;
}
.donate-font-p{
    text-wrap: 20px;
    padding-bottom: 20px;
}
.bonus{
    display: flex;
    padding: 0;
    justify-content: center;
}
.color-bg{
    background-color: #C6E4D6;
    border-radius: 24px; 
    width: 1032px;
    
}
.color-btn-bg{
    background-color: #C6E4D6;
    
}
.spam{
    padding-bottom: 60px;
    justify-content: space-between;
    text-align: center;
}
.layout{
    padding: 80px 90px;
    padding-left: 125px;
    
    
}
.btn{
    border: none ;
}
/* Footer Part */
.footer-part{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 32px;
}
.footer{
    text-align: center;
    margin-bottom: 32px;
}
hr{
    margin: 0 240px;
}

button {
    
    
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: chartreuse;
  }
